
body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

/* Hobby Recommendations Styles */

.hobby-recommendations {
    padding: 20px 20px 20px;
    text-align: center;
}

.hobby-recommendations h2 {
    font-size: 2rem;
    color: var(--color-foreground);
    margin-bottom: 100px;
    /* Use color from root for consistency */

}

.hobbies-container {
    display: grid;
    grid-template-columns: 1fr;
    /* Only one item per row */
    gap: 20px;
}

.hobby-block {
    background-color: var(--color-foreground);

    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.hobby-block img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.hobby-block h3 {
    font-size: 1.2rem;
    color: var(--color-background);

}

.hobby-block p {
    color: var(--color-background);

}


/* Responsive Design */

@media (max-width: 2000px) {
    .hobbies-container {
        grid-template-columns: 1fr;
        /* Ensure only one item per row even on smaller screens */
    }
    .hobby-block {
        padding: 12px;
    }
}