.bg-music {
    background-image: url('../assets/pexels-nurseryart-346726.jpg');
    background-size: cover;
    background-position: center;
    background-color: transparent; /* Zapewnia przezroczystość */
  }
  
  .bg-paint {
      background-image: url('../assets/pexels-steve-1047540.jpg');
      background-size: cover;
      background-position: center;
      background-color: transparent;
      /* Zapewnia przezroczystość */
  }

  .bg-photo {
      background-image: url('../assets/pexels-pok-rie-33563-298298.jpg');
      background-size: cover;
      background-position: center;
      background-color: transparent;
      /* Zapewnia przezroczystość */
  }
  .bg-fishing {
    background-image: url('../assets/pexels-lum3n-44775-294674.jpg');
    background-size: cover;
    background-position: center;
    background-color: transparent; /* Zapewnia przezroczystość */
  }
  
  .bg-chess {
      background-image: url('../assets/pexels-pixabay-260024.jpg');
      background-size: cover;
      background-position: center;
      background-color: transparent;
      /* Zapewnia przezroczystość */
  }

  .bg-neeting {
      background-image: url('../assets/pexels-surene-palvie-1075224-2062061.jpg');
      background-size: cover;
      background-position: center;
      background-color: transparent;
      /* Zapewnia przezroczystość */
  }



.hobby-recommendations {
    padding: 20px 20px 20px;
    text-align: center;
}

.hobby-recommendations h2 {
    font-size: 2rem;
    /* Use color from root for consistency */
}

.hobbies-container {
    display: grid;
    grid-template-columns: 1fr;
    /* Only one item per row */
    gap: 20px;
}

.hobby-block {
    background-color: var(--color-foreground);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hobby-block:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}



/* Responsive Design */

@media (max-width: 2000px) {
    .hobbies-container {
        grid-template-columns: 1fr;
        /* Ensure only one item per row even on smaller screens */
    }
    .hobby-block {
        padding: 12px;
    }
}