.bg-custom-image {
    background-image: url('../assets/background_mainPage.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-custom_representative-bg-image {
    background-image: url('../assets/background_home_page.png');
    background-size: cover;
    background-position: center;
  }

  .bg-custom_representative-image {
    background-image: url('../assets/Standing.png');
    background-size: cover;
    background-position: center;
  }