@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
:root {
    --color-background: #1f2023;
    --color-foreground: #efefef;
}

[data-theme="light"] {
    --color-background: #d4bcdc;
    --color-foreground: #67135e;
    color: #213547;
    background-color: #ffffff;
}

[data-theme="dark"] {
    --color-background: #0f0f0f;
    --color-foreground: #e4ccec;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0f0f0f;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-foreground);
}